Parte 3/EdExtMobile/web/WEB-INF/wsdl/192.168.1.6_9129/WS/ServidorCentral.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="PublicadorServidorCentralService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://192.168.1.6:9129/WS/ServidorCentral?xsd=1"/>
</xsd:schema>
</types>
<message name="listarInstitutos"/>
<message name="listarInstitutosResponse">
<part name="return" type="tns:data"/>
</message>
<message name="altaInstituto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="altaInstitutoResponse"/>
<message name="darProgramaFormacion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="darProgramaFormacionResponse">
<part name="return" type="tns:dataProgramaFormacion"/>
</message>
<message name="validarNombreInstituto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarNombreInstitutoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="altaProgramaFormacion">
<part name="arg0" type="tns:dataProgramaFormacion"/>
</message>
<message name="altaProgramaFormacionResponse"/>
<message name="validarNombreCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarNombreCategoriaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarCursosCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarCursosCategoriaResponse">
<part name="return" type="tns:data"/>
</message>
<message name="agregarCursoAPrograma">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="agregarCursoAProgramaResponse"/>
<message name="listarProfesoresInstituto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarProfesoresInstitutoResponse">
<part name="return" type="tns:data"/>
</message>
<message name="listarInscriptosAEdicion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarInscriptosAEdicionResponse">
<part name="return" type="tns:data"/>
</message>
<message name="aceptarInscripciones">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="tns:data"/>
</message>
<message name="aceptarInscripcionesResponse"/>
<message name="listarAceptadosAEdicion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="listarAceptadosAEdicionResponse">
<part name="return" type="tns:data"/>
</message>
<message name="listarCursosInstituto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarCursosInstitutoResponse">
<part name="return" type="tns:data"/>
</message>
<message name="validarNombrePrograma">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarNombreProgramaResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="validarNombreEdicion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="validarNombreEdicionResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="validarEmail">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarEmailResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="darDatosUsuario">
<part name="arg0" type="xsd:string"/>
</message>
<message name="darDatosUsuarioResponse">
<part name="return" type="tns:dataUsuario"/>
</message>
<message name="altaUsuario">
<part name="arg0" type="tns:dataUsuario"/>
</message>
<message name="altaUsuarioResponse"/>
<message name="listarCursos"/>
<message name="listarCursosResponse">
<part name="return" type="tns:data"/>
</message>
<message name="darDatosCurso">
<part name="arg0" type="xsd:string"/>
</message>
<message name="darDatosCursoResponse">
<part name="return" type="tns:dataCurso"/>
</message>
<message name="listarEstudiantes"/>
<message name="listarEstudiantesResponse">
<part name="return" type="tns:data"/>
</message>
<message name="validarNick">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarNickResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="modificarUsuario">
<part name="arg0" type="tns:dataUsuario"/>
</message>
<message name="modificarUsuarioResponse"/>
<message name="validarNombreCurso">
<part name="arg0" type="xsd:string"/>
</message>
<message name="validarNombreCursoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="listarUsuarios"/>
<message name="listarUsuariosResponse">
<part name="return" type="tns:data"/>
</message>
<message name="altaCurso">
<part name="arg0" type="tns:dataCurso"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="altaCursoResponse"/>
<message name="listarEdiciones">
<part name="arg0" type="xsd:string"/>
</message>
<message name="listarEdicionesResponse">
<part name="return" type="tns:data"/>
</message>
<message name="listarProgramas"/>
<message name="listarProgramasResponse">
<part name="return" type="tns:data"/>
</message>
<message name="conteneCurso">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="conteneCursoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="inscripcionEdicion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:dateTime"/>
</message>
<message name="inscripcionEdicionResponse"/>
<message name="altaEdicionCurso">
<part name="arg0" type="tns:dataEdicion"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="altaEdicionCursoResponse"/>
<message name="darDatosEdicion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="darDatosEdicionResponse">
<part name="return" type="tns:dataEdicion"/>
</message>
<message name="darEdicionActual">
<part name="arg0" type="xsd:string"/>
</message>
<message name="darEdicionActualResponse">
<part name="return" type="tns:dataEdicion"/>
</message>
<message name="listarCategorias"/>
<message name="listarCategoriasResponse">
<part name="return" type="tns:data"/>
</message>
<message name="altaCategoria">
<part name="arg0" type="xsd:string"/>
</message>
<message name="altaCategoriaResponse"/>
<message name="inscripcionAPrograma">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:dateTime"/>
</message>
<message name="inscripcionAProgramaResponse"/>
<message name="listarProfesores"/>
<message name="listarProfesoresResponse">
<part name="return" type="tns:data"/>
</message>
<portType name="PublicadorServidorCentral">
<operation name="listarInstitutos">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarInstitutosRequest" message="tns:listarInstitutos"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarInstitutosResponse" message="tns:listarInstitutosResponse"/>
</operation>
<operation name="altaInstituto">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaInstitutoRequest" message="tns:altaInstituto"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaInstitutoResponse" message="tns:altaInstitutoResponse"/>
</operation>
<operation name="darProgramaFormacion">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/darProgramaFormacionRequest" message="tns:darProgramaFormacion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/darProgramaFormacionResponse" message="tns:darProgramaFormacionResponse"/>
</operation>
<operation name="validarNombreInstituto">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreInstitutoRequest" message="tns:validarNombreInstituto"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreInstitutoResponse" message="tns:validarNombreInstitutoResponse"/>
</operation>
<operation name="altaProgramaFormacion">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaProgramaFormacionRequest" message="tns:altaProgramaFormacion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaProgramaFormacionResponse" message="tns:altaProgramaFormacionResponse"/>
</operation>
<operation name="validarNombreCategoria">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreCategoriaRequest" message="tns:validarNombreCategoria"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreCategoriaResponse" message="tns:validarNombreCategoriaResponse"/>
</operation>
<operation name="listarCursosCategoria">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosCategoriaRequest" message="tns:listarCursosCategoria"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosCategoriaResponse" message="tns:listarCursosCategoriaResponse"/>
</operation>
<operation name="agregarCursoAPrograma" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/agregarCursoAProgramaRequest" message="tns:agregarCursoAPrograma"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/agregarCursoAProgramaResponse" message="tns:agregarCursoAProgramaResponse"/>
</operation>
<operation name="listarProfesoresInstituto">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarProfesoresInstitutoRequest" message="tns:listarProfesoresInstituto"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarProfesoresInstitutoResponse" message="tns:listarProfesoresInstitutoResponse"/>
</operation>
<operation name="listarInscriptosAEdicion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarInscriptosAEdicionRequest" message="tns:listarInscriptosAEdicion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarInscriptosAEdicionResponse" message="tns:listarInscriptosAEdicionResponse"/>
</operation>
<operation name="aceptarInscripciones" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/aceptarInscripcionesRequest" message="tns:aceptarInscripciones"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/aceptarInscripcionesResponse" message="tns:aceptarInscripcionesResponse"/>
</operation>
<operation name="listarAceptadosAEdicion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarAceptadosAEdicionRequest" message="tns:listarAceptadosAEdicion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarAceptadosAEdicionResponse" message="tns:listarAceptadosAEdicionResponse"/>
</operation>
<operation name="listarCursosInstituto">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosInstitutoRequest" message="tns:listarCursosInstituto"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosInstitutoResponse" message="tns:listarCursosInstitutoResponse"/>
</operation>
<operation name="validarNombrePrograma">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreProgramaRequest" message="tns:validarNombrePrograma"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreProgramaResponse" message="tns:validarNombreProgramaResponse"/>
</operation>
<operation name="validarNombreEdicion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreEdicionRequest" message="tns:validarNombreEdicion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreEdicionResponse" message="tns:validarNombreEdicionResponse"/>
</operation>
<operation name="validarEmail">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarEmailRequest" message="tns:validarEmail"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarEmailResponse" message="tns:validarEmailResponse"/>
</operation>
<operation name="darDatosUsuario">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosUsuarioRequest" message="tns:darDatosUsuario"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosUsuarioResponse" message="tns:darDatosUsuarioResponse"/>
</operation>
<operation name="altaUsuario">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaUsuarioRequest" message="tns:altaUsuario"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaUsuarioResponse" message="tns:altaUsuarioResponse"/>
</operation>
<operation name="listarCursos">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosRequest" message="tns:listarCursos"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarCursosResponse" message="tns:listarCursosResponse"/>
</operation>
<operation name="darDatosCurso">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosCursoRequest" message="tns:darDatosCurso"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosCursoResponse" message="tns:darDatosCursoResponse"/>
</operation>
<operation name="listarEstudiantes">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarEstudiantesRequest" message="tns:listarEstudiantes"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarEstudiantesResponse" message="tns:listarEstudiantesResponse"/>
</operation>
<operation name="validarNick">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNickRequest" message="tns:validarNick"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNickResponse" message="tns:validarNickResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="validarNombreCurso">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreCursoRequest" message="tns:validarNombreCurso"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/validarNombreCursoResponse" message="tns:validarNombreCursoResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="altaCurso" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaCursoRequest" message="tns:altaCurso"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaCursoResponse" message="tns:altaCursoResponse"/>
</operation>
<operation name="listarEdiciones">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarEdicionesRequest" message="tns:listarEdiciones"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarEdicionesResponse" message="tns:listarEdicionesResponse"/>
</operation>
<operation name="listarProgramas">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarProgramasRequest" message="tns:listarProgramas"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarProgramasResponse" message="tns:listarProgramasResponse"/>
</operation>
<operation name="conteneCurso" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/conteneCursoRequest" message="tns:conteneCurso"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/conteneCursoResponse" message="tns:conteneCursoResponse"/>
</operation>
<operation name="inscripcionEdicion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/inscripcionEdicionRequest" message="tns:inscripcionEdicion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/inscripcionEdicionResponse" message="tns:inscripcionEdicionResponse"/>
</operation>
<operation name="altaEdicionCurso" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaEdicionCursoRequest" message="tns:altaEdicionCurso"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaEdicionCursoResponse" message="tns:altaEdicionCursoResponse"/>
</operation>
<operation name="darDatosEdicion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosEdicionRequest" message="tns:darDatosEdicion"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/darDatosEdicionResponse" message="tns:darDatosEdicionResponse"/>
</operation>
<operation name="darEdicionActual">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/darEdicionActualRequest" message="tns:darEdicionActual"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/darEdicionActualResponse" message="tns:darEdicionActualResponse"/>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarCategoriasRequest" message="tns:listarCategorias"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarCategoriasResponse" message="tns:listarCategoriasResponse"/>
</operation>
<operation name="altaCategoria">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/altaCategoriaRequest" message="tns:altaCategoria"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/altaCategoriaResponse" message="tns:altaCategoriaResponse"/>
</operation>
<operation name="inscripcionAPrograma" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/inscripcionAProgramaRequest" message="tns:inscripcionAPrograma"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/inscripcionAProgramaResponse" message="tns:inscripcionAProgramaResponse"/>
</operation>
<operation name="listarProfesores">
<input wsam:Action="http://Servidor/PublicadorServidorCentral/listarProfesoresRequest" message="tns:listarProfesores"/>
<output wsam:Action="http://Servidor/PublicadorServidorCentral/listarProfesoresResponse" message="tns:listarProfesoresResponse"/>
</operation>
</portType>
<binding name="PublicadorServidorCentralPortBinding" type="tns:PublicadorServidorCentral">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="listarInstitutos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaInstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="darProgramaFormacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNombreInstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaProgramaFormacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNombreCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarCursosCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="agregarCursoAPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarProfesoresInstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarInscriptosAEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="aceptarInscripciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarAceptadosAEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarCursosInstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNombrePrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNombreEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="darDatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarCursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="darDatosCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarEstudiantes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNick">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="validarNombreCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarEdiciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarProgramas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="conteneCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="inscripcionEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaEdicionCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="darDatosEdicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="darEdicionActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="altaCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="inscripcionAPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
<operation name="listarProfesores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Servidor/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Servidor/"/>
</output>
</operation>
</binding>
<service name="PublicadorServidorCentralService">
<port name="PublicadorServidorCentralPort" binding="tns:PublicadorServidorCentralPortBinding">
<soap:address location="http://192.168.1.6:9129/WS/ServidorCentral"/>
</port>
</service>
</definitions>